*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    margin-left: 300px;
    position: relative;
    min-height: 100vh;
}

.bg{
    width: 100%;
    height: 100%;
    position: relative;
}

.bg::after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-image: url('https://images.pexels.com/photos/732547/pexels-photo-732547.jpeg?cs=srgb&dl=pexels-jessef11-732547.jpg&fm=jpg');
    z-index:-1;
    background-size: cover;
    background-position: center;
    filter: brightness(45%);
}

.content{
    margin-left: 760px;
    width:100%;
    position: absolute;
    top:43%;
    left:50%
    transform: translate(-50%,-50%);
    display: flex;
}

.content .header h3{
    font-size:5.5rem;
    color: #fff;
}


Lside {
    background-color: #333;
    padding:2rem;
    height:100dvh;
    width:300px;
    position:fixed;
}

Lside ul {
    list-style: none;
}

Lside ul li{
    margin: 2rem 0;
}

Lside ul li a{
    text-decoration: none;
    color: #fff;

}
